/*  Default Layout Styles
    ===
*/
    body{
        background-color: white;
        height: 100%;
        width: 100%;
    }

/*  Site Structure
    ===

    Container Setup
    ---
*/
    .container{
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: absolute;
        height: 100%;
        width: 100%;
    }

/*  Interface
    ===
*/
    .interface-container{
        max-width: 400px;
        text-align: center;
        padding: 100px;
        border: 2px dashed #ccc;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .interface-container.active{
        border-color: #555;
    }