/*  Typograhy
    ===

    Setup
    ---
*/
    body{
        font-family: "Sans Pro", sans-serif;
        font-size: 16px;
        color: #eee;
    }

/*  Main
    ---
 */
    h1{
        font-size: 20px;
        line-height: 34px;
        color: white;
    }