/*  Button
    ===

    Basic
    ---

    <button class="button button-primary">
        ...
    </button>
*/
    .button{
        cursor: pointer;
        border: 0;
        padding: 10px 8px;
        font-family: inherit;
        font-size: 14px;
    }
